* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: black;
    padding: .4em;
    margin-bottom: 1em;
    text-align: center;
}

/* Main page */

.body-main {
    text-align: center;
    background-color: beige;
}

.h-main, hr {
    color: beige;
    margin: .5em;
}

.a-main {
    text-decoration: none;
    color: beige;
}

.ul-main li {
    list-style-type: none;
    margin: 1em 2.2em 1em 0em;

}

.logo {
    width: 2.5em;
    height: 2.5em;
    padding: .3em;
}

.bg {
    margin: 0 1.1em .6em 1.1em;
    width: 30%;
    height: 307px;
    border: .2em solid black;
}

/* sub-pages */

body {
    background-color: beige;
}

h1, p {
    color: beige;
}

.img-showcase-1, 
.img-showcase-3 {
    width: 40%;
    margin-top: 1em;
    opacity: 80%;
}

.img-showcase-2 {
    width: 20%;
    opacity: 80%;
}

h3 {
    margin: .4em auto;
    color: beige;
}

h2 {
    margin: 1em 0 .2em 0;
    color: beige;
    background-image: linear-gradient(90deg, black, beige 70%);
    text-indent: 1em;
}

.ingredients li,
.steps li {
    margin: 1em 0;
    width: 80%;
}

.cred {
    text-align: center;
    color: black;
    list-style-type: none;
}

.cred li {
    margin-right: 2.2em;
    margin-bottom: .5em;
    margin-top: 1em;
}

.return p, a {
    text-align: center;
    font-weight: bold;
    margin: 1.5em 0 .5em 0;
    color: black;
}

a {
    text-decoration: none;
    margin: 1.5em 0 .5em 0;
}

a:hover {
    opacity: 50%;
}