* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: black;
    padding: .4em;
    margin-bottom: 1em;
}

/* Main page */

.body-main {
    text-align: center;
    background-color: beige;
}

.h-main, hr {
    color: white;
    margin: .5em;
}

.a-main {
    text-decoration: none;
    color: beige;
}

.ul-main li {
    list-style-type: none;
    margin: 1em 2.2em 1em 0em;

}

.logo {
    width: 2.5em;
    height: 2.5em;
    padding: .3em;
}

.bg {
    margin: 0 1.1em .6em 1.1em;
    width: 30%;
    height: 307px;
    border: .2em solid black;
}

/* sub-pages */

body {
    background-color: beige;
}

.container {
    text-align: center;
}
h1, p {
    color: white;
}

.img-showcase-1, 
.img-showcase-3 {
    width: 30%;
    margin-top: 1em;
}

.img-showcase-2 {
    width: 15%;
}

h3 {
    margin: .4em auto;
    color: white;
}

h2 {
    margin: 1em 0 .2em 0;
    color: white;
    background-image: linear-gradient(90deg, black, beige 70%);
    text-indent: 1em;
}

.ingredients li,
.steps li {
    margin: .8em auto;
}

.return {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 1.5em 0 .5em 0;
    color: black;
}

.return:hover {
    opacity: 60%;
}