* {
    margin: 0;
}

.body-main {
    text-align: center;
    background-color: beige;
}

.container {
    background-color: black;
    padding: .4em;
    margin-bottom: 1em;
}

h1, hr {
    color: white;
    margin: .5em;
}

.a-main {
    text-decoration: none;
    color: beige;
}

.ul-main li {
    list-style-type: none;
    margin: 1em 2.2em 1em 0em;

}

.logo {
    width: 2.5em;
    height: 2.5em;
    padding: .3em;
}

.bg {
    margin: 0 1.1em .6em 1.1em;
    width: 30%;
    height: 307px;
    border: .2em solid black;
}